html{
    box-sizing: border-size;
  }
  .Form_Calculator{
    padding-top: 100px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    font-size: 25px;
  }
  .container {
    font-family: "Roboto", sans-serif;
    width: 30%;
    background-color: #DFDFDF;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    border-radius: 20px;
    }
  .calculator__title{
    font-size: 25px;
  }
  .input{
    background-color: #fff;
    padding: 12px;
    width: 50%;
    border-radius: 12px;
    font-size: 16px;
  }
  .form__input{
    margin-bottom: 30px;
  }
  .button {
     border-radius: 7px;
     background-color: #85F593;
     padding: 12px 33px;
     font-size: 16px;
     font-weight: 600;
    transition: 0.5s linear;
  }
  .button:hover{
  background-color: #29A538;
  }
  .result{
    text-align: center;
  }
  .container{
    text-align: center;
  }