body{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: rgb(162, 179, 138);
    font-family: 'Courier New', Courier, monospace;
}
.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: violet;
}